<!DOCTYPE html>
<html>
	<title>DVD Club</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<body id="myPage">

		<!-- Navbar -->
		<div class="w3-top">
			<div class="w3-bar w3-theme-d2 w3-left-align">
				<a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
				<a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>DVD Club</a>
				<a href="#business" class="w3-bar-item w3-button w3-hide-small w3-hover-white" style="text-decoration:none;">Business</a>
				<a href="#products" class="w3-bar-item w3-button w3-hide-small w3-hover-white" style="text-decoration:none;">Products</a>
				{% if call_or_get(current_user.is_authenticated) %}
					{% if call_or_get(current_user.is_admin) %}
					{% else %}
						<a href="#reservation" class="w3-bar-item w3-button w3-hide-small w3-hover-white" style="text-decoration:none;">Reservation</a>
					{% endif %}
				{% endif %}
				<a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white" style="text-decoration:none;">Contact</a>
				<div class="w3-dropdown-hover w3-hide-small">
					{% if call_or_get(current_user.is_authenticated) %}
						<button class="w3-button" title="Notifications" style="text-decoration:none;">{{ current_user.username }} <i class="fa fa-caret-down"></i></button>
					{% else %}
						<button class="w3-button" title="Notifications" style="text-decoration:none;">Account <i class="fa fa-caret-down"></i></button>
					{% endif %}
					<div class="w3-dropdown-content w3-card-4 w3-bar-block">
						{% if call_or_get(current_user.is_authenticated) %}
							{% if call_or_get(current_user.is_admin) %}
								<a href="{{ url_for('admin.index') }}" class="w3-bar-item w3-button" style="text-decoration:none;">Admin Page</a>
								<a href="{{ url_for('user.profile') }}" class="w3-bar-item w3-button" style="text-decoration:none;">Edit Profile</a>
								<a href="{{ url_for('user.logout') }}" class="w3-bar-item w3-button" style="text-decoration:none;">Sign out</a>
							{% else %}
								<a href="{{ url_for('user.profile') }}" class="w3-bar-item w3-button" style="text-decoration:none;">Edit Profile</a>
								<a href="{{ url_for('user.logout') }}" class="w3-bar-item w3-button" style="text-decoration:none;">Sign out</a>
							{% endif %}
						{% else %}
							<a href="{{ url_for('user.login') }}" class="w3-bar-item w3-button" style="text-decoration:none;">Login</a>
							<a href="{{ url_for('user.register') }}" class="w3-bar-item w3-button" style="text-decoration:none;">Register</a>
						{% endif %}
					</div>
				</div>
			</div>
			
			<!-- Navbar on small screens -->
			<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
				<a href="#business" class="w3-bar-item w3-button" style="text-decoration:none;">Business</a>
				<a href="#products" class="w3-bar-item w3-button" style="text-decoration:none;">Products</a>
				{% if call_or_get(current_user.is_authenticated) %}
					{% if call_or_get(current_user.is_admin) %}
					{% else %}
						<a href="#reservation" class="w3-bar-item w3-button" style="text-decoration:none;">Reservation</a>
					{% endif %}
				{% endif %}
				<a href="#contact" class="w3-bar-item w3-button" style="text-decoration:none;">Contact</a>
			</div>
		</div>
		
		<!-- Image Header -->
		<div class="w3-display-container w3-animate-opacity">
			<img src="static/images/movies.jpg" style="width:100%;min-height:350px;max-height:600px;">
			<div class="w3-container w3-display-bottomleft w3-margin-bottom">
				<button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Go To W3.CSS">DVD Club</button>
			</div>
		</div>
		
		<!-- Business Container -->
		<div class="w3-container w3-padding-64 w3-center" id="business">
			<h2>OUR BUSINESS</h2>
			<p>Meet the team - our office rats:</p>
		</div>
		
		<!-- Products Row -->
		<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="products">
			<div class="w3-quarter">
				<h2>Our Products</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="w3-quarter">
				<div class="w3-card w3-white">
					<img src="" style="width:100%">
					<div class="w3-container">
						<h3>Movie 1</h3>
						<h4>Trade</h4>
						<p>Blablabla</p>
						<p>Blablabla</p>
						<p>Blablabla</p>
						<p>Blablabla</p>
					</div>
				</div>
			</div>
			
			<div class="w3-quarter">
				<div class="w3-card w3-white">
					<img src="" style="width:100%">
					<div class="w3-container">
						<h3>Movie 2</h3>
						<h4>Trade</h4>
						<p>Blablabla</p>
						<p>Blablabla</p>
						<p>Blablabla</p>
						<p>Blablabla</p>
					</div>
				</div>
			</div>
			
			<div class="w3-quarter">
				<div class="w3-card w3-white">
					<img src="" style="width:100%">
					<div class="w3-container">
						<h3>Movie 3</h3>
						<h4>Trade</h4>
						<p>Blablabla</p>
						<p>Blablabla</p>
						<p>Blablabla</p>
						<p>Blablabla</p>
					</div>
				</div>
			</div>
		</div>
		
		{% if call_or_get(current_user.is_authenticated) %}
			{% if call_or_get(current_user.is_admin) %}
			{% else %}
				<!-- Reservation Row -->
				<div class="w3-row-padding w3-center w3-padding-64" id="reservation">
					<span class="w3-xlarge w3-border-teal w3-bottombar">Reservation</span>
					<p>Choose a movie that fits your needs.</p><br>
					<div class="w3-third w3-center w3-margin-bottom">
					</div>
					<div class="w3-third w3-center w3-margin-bottom">
						<form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/reservation" method="post">
							<div class="w3-section">
								<label>Name</label>
								<input class="w3-input w3-center" type="text" name="name" Value="{{ current_user.username }}" readonly>
							</div>
							<div class="w3-section">
								<label>Movie</label>
								<input class="w3-input" type="text" name="movie" required>
							</div>
							<button type="submit" class="w3-button w3-right w3-theme">Reserve</button>
						</form>
					</div>
				</div>
			{% endif %}
		{% endif %}
		
		<!-- Contact Container -->
		<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
			<div class="w3-row">
				<div class="w3-center">
					<div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
					<h3>Address</h3>
					<p>Swing by for a blu-ray, or whatever.</p>
					<p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Kwlopetinitsa, GR</p>
					<p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +30 2531012345</p>
					<p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  kwlo@petinitsa.gr</p>
				</div>
			</div>
		</div>
		
		<!-- Footer -->
		<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
			<h5>&copy; 2017 DVD Club</h5>
			<div style="position:sticky;bottom:25px;z-index:1;" class="w3-tooltip w3-right">
				<span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
				<a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
				<i class="fa fa-chevron-circle-up"></i></span></a>
			</div>
		</footer>
		
		<script>
			// Script for side navigation
			function w3_open() {
				var x = document.getElementById("mySidebar");
				x.style.width = "300px";
				x.style.paddingTop = "10%";
				x.style.display = "block";
			}
			
			// Close side navigation
			function w3_close() {
				document.getElementById("mySidebar").style.display = "none";
			}
			
			// Used to toggle the menu on smaller screens when clicking on the menu button
			function openNav() {
				var x = document.getElementById("navDemo");
				if (x.className.indexOf("w3-show") == -1) {
					x.className += " w3-show";
				} else {
					x.className = x.className.replace(" w3-show", "");
				}
			}
		</script>
	</body>
</html>